# Explanation of Terms
**DPrec: Daily Precipitation**

**DMaxT: Daily Maximum Temperature**

**DMinT: Daily Minimum Temperature**

**DMeanT: Daily Mean Temperature**

In [93]:
import pandas as pd
from datetime import datetime

"""
Here, we will show the data cleaning detaily. In the next time we will do this steps for all data (text file).
And we will combine all of these in one dataframe.
"""

Istanbul_DPrec = pd.read_fwf('istanbul_daily_max_temp.txt', header=None, 
                 delim_whitespace=True, skiprows=17, names=('Year', 'Month', 'Day', 'Istanbul_DMaxT'))

In [98]:
Istanbul_DPrec.head()

   Year  Month  Day  Istanbul_DMaxT
0  1929      1    1            15.5
1  1929      1    2            16.4
2  1929      1    3            17.0
3  1929      1    4            14.6
4  1929      1    5            13.8

In [141]:
Istanbul_DPrec['Date'] = pd.to_datetime(Istanbul_DPrec[['Year', 'Month', 'Day']], format='%Y%m%d', errors='coerce')

In [142]:
Istanbul_DPrec.head(2)

   Year  Month  Day  Istanbul_DMaxT       Date
0  1929      1    1            15.5 1929-01-01
1  1929      1    2            16.4 1929-01-02

In [144]:
#Adds a new column (df['Date']) and reorders our dataframe so it's at the start now (i.e., the first column).
cols = Istanbul_DPrec.columns.tolist()
Istanbul_DPrec = Istanbul_DPrec[[cols[-1]] + cols[:-1]]

In [145]:
Istanbul_DPrec.head(2)

        Date  Year  Month  Day  Istanbul_DMaxT
0 1929-01-01  1929      1    1            15.5
1 1929-01-02  1929      1    2            16.4

In [147]:
#Now I can remove the unimportant columns 'Year', 'Month' and 'Day'.
Istanbul_DPrec.drop(['Year'],axis=1,inplace=True)
Istanbul_DPrec.drop(['Month'],axis=1,inplace=True)
Istanbul_DPrec.drop(['Day'],axis=1,inplace=True)
Istanbul_DPrec.head(2)

        Date  Istanbul_DMaxT
0 1929-01-01            15.5
1 1929-01-02            16.4

In [81]:
#We will assign the daily maximum temperature for each city.
Kastamonu_DMaxT = pd.read_fwf('kastamonu_daily_max_temp.txt', header=None, 
                 delim_whitespace=True, skiprows=17, names=('Year', 'Month', 'Day', 'Kastamonu_DMaxT'))

In [ ]:
#concanate
df['Temp2'] = df2['Temperature'].values